<h1>Welcomes#index</h1>
<p>want this page to be the main page</p>
<p>people who are not signed in can serach beers but cannot like, dislike or add to want to try. when get to beer page will have login sign in error message it try to save in any way</p>


<%= image_tag("beer1", alt: "beer1", class: "beer1") %>