<h1>Beer#index</h1>
<p>Find me in app/views/beer/index.html.erb</p>
<script src="https://api.punkapi.com/v2/beers"></script>

<% p "****************" %>
<% p @response %>
<% p @myRequest %>



<h1>Beers</h1>

  

<div id="beer"></div>





<%# <div id="beer' + i + '">' + v.name + '<br><img height="200" onclick="show(myRequest.response[' + i + '],' + i + ')" src="' + v.image_url + '"><br></div> %>